<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="/">Home</a></li>
  </ul>
  <h3 class="text-muted">Kurtosys Test Angular App</h3>
</div>

<div class="row marketing">
  <p>Thanks Kurtosys team!</p>
  <hr>
  <div class="bold-spans" ng-repeat="fund in funds">
    <p><span>Fund Name:</span> {{fund["Fund Name"] | ksFormatFundData:'false'}}</p>
    <p><span>Security:</span> {{fund["security"] | ksFormatFundData:'false'}}</p>
    <p><span>Sector:</span> {{fund["Sector"] | ksFormatFundData:'false'}}</p>
    <p><span>Asset Class:</span> {{fund["Asset Class"] | ksFormatFundData:'false'}}</p>
    <p><span>Investment Style:</span> {{fund["Investment Style"] | ksFormatFundData:'false'}}</p>
    <p><span>Launch Date:</span> {{fund["Launch Date"] | ksDate: 'dd/MM/yyyy':'/' | date:'dd.MM.yyyy'}}</p>
    <p><span>Morningstar Rating:</span> {{fund["Morningstar Rating"] | ksFormatFundData:'false'}}</p>
    <p><span>NAV:</span> {{fund["NAV"] | ksFormatFundData:true}}</p>
    <p><span>NAV Change:</span> {{fund["NAV Change"] | ksFormatFundData:true}}</p>
    <p><span>1 Day Return:</span> {{fund["1 Day Return"] | ksFormatFundData:true}}</p>
    <p><span>YTD Return:</span> {{fund["YTD Return"] | ksFormatFundData:true}}</p>
    <p><span>Fund Size:</span> {{fund["Fund Size"] | ksFormatFundData:true}}</p>
    <p><span>Region:</span> {{fund["Region"] | ksFormatFundData:'false'}}</p>
    <p><span>Currency:</span> {{fund["Currency"] | ksFormatFundData:'false'}}</p>
    <p><span>Ticker Symbol:</span> {{fund["Ticker Symbol"] | ksFormatFundData:'false'}}</p>
    <p><span>Total Returns:</span> {{fund["Total Returns"] | ksFormatFundData:true}}</p>
    <p><span>Average Annual Returns:</span> {{fund["Average Annual Returns"] | ksFormatFundData:true}}</p>
    <p><span>Yield:</span> {{fund["Yield"] | ksFormatFundData:true}}</p>
    <p><span>Date:</span> {{fund["Date"] | ksDate: 'dd/MM/yyyy':'/' | date:'dd.MM.yyyy'}}</p>
  </div>
</div>

<div class="footer">
  <p></p>
</div>
