<div class="header">
  <ul class="nav nav-pills pull-right">
    <li class="active"><a ng-href="/">Home</a></li>
  </ul>
  <h3 class="text-muted">Kurtosys Test Angular App</h3>
</div>

<div class="row marketing">
  <p>Thanks Kurtosys team!</p>
  <hr>
  <div class="bold-paragraphs" ng-repeat="fund in funds">
    <p>Fund Name: {{fund["Fund Name"] | ksFormatFundData:'false'}}</p>
    <p>Security: {{fund["security"] | ksFormatFundData:'false'}}</p>
    <p>Sector: {{fund["Sector"] | ksFormatFundData:'false'}}</p>
    <p>Asset Class: {{fund["Asset Class"] | ksFormatFundData:'false'}}</p>
    <p>Investment Style: {{fund["Investment Style"] | ksFormatFundData:'false'}}</p>
    <p>Launch Date: {{fund["Launch Date"] | ksDate: 'dd/MM/yyyy':'/' | date:'dd.MM.yyyy'}}</p>
    <p>Morningstar Rating: {{fund["Morningstar Rating"] | ksFormatFundData:'false'}}</p>
    <p>NAV: {{fund["NAV"] | ksFormatFundData:'true'}}</p>
    <p>NAV Change: {{fund["NAV Change"] | ksFormatFundData:'true'}}</p>
    <p>1 Day Return: {{fund["1 Day Return"] | ksFormatFundData:'true'}}</p>
    <p>YTD Return: {{fund["YTD Return"] | ksFormatFundData:'true'}}</p>
    <p>Fund Size: {{fund["Fund Size"] | ksFormatFundData:'true'}}</p>
    <p>Region: {{fund["Region"] | ksFormatFundData:'false'}}</p>
    <p>Currency: {{fund["Currency"] | ksFormatFundData:'false'}}</p>
    <p>Ticker Symbol: {{fund["Ticker Symbol"] | ksFormatFundData:'false'}}</p>
    <p>Total Returns: {{fund["Total Returns"] | ksFormatFundData:'true'}}</p>
    <p>Average Annual Returns: {{fund["Average Annual Returns"] | ksFormatFundData:'true'}}</p>
    <p>Yield: {{fund["Yield"] | ksFormatFundData:'true'}}</p>
    <p>Date: {{fund["Date"] | ksDate: 'dd/MM/yyyy':'/' | date:'dd.MM.yyyy'}}</p>
  </div>
</div>

<div class="footer">
  <p></p>
</div>
